#container {
  margin: 0 auto;
  width: 400px;
  height: 500px;
  background-color: #eaeaea;
}

#up {
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
}

img {
  width: 100px;
  height: 100px;
}
